@model dynamic

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://localhost:44317/" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="../assets/img/logo-small.png">
            </div>
        </a>
        <a href="https://localhost:44317/" class="simple-text logo-normal">
            Quản Lý Du Lịch
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active-pro">
                <a href="https://localhost:44317/">
                    <i class='fa fa-plane'></i>
                    <p>Tour</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="https://localhost:44317/TouristGroup/TouristGroup">
                    <i class='fa fa-group'></i>
                    <p>Đoàn Du Lịch</p>
                </a>
            </li>
            <li class="active">
                <a href="https://localhost:44317/Tourist/Tourist">
                    <i class='fa fa-street-view'></i>
                    <p>Khách Du Lịch</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="https://localhost:44317/Employee/Employee">
                    <i class='fa fa-user'></i>
                    <p>Nhân Viên</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="https://localhost:44317/Statitic/Statitic">
                    <i class="fa fa-line-chart"></i>
                    <p>Thống kê</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="javascript:;">KHÁCH DU LỊCH</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                @using (Html.BeginForm("Search", "Tourist", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                {
                    <div class="form-group form-inline">
                        <input class="form-control" type="text" name="strSearch" placeholder="Tìm kiếm Nhân Viên" value="@ViewBag.StrSearch" />
                        <button type="submit" class="btn btn-default"><i class="nc-icon nc-zoom-split"></i></button>
                    </div>
                }
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content" style="margin-top:110px">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Quản Lý Khách Hàng</h4>
                    </div>
                    <div class="col-sm-4">
                        <a href="@Url.Action("AddTourist", "Tourist")" class="add"><button type="button" class="btn btn-info-add-new" style="background-color: #51bcda;"><i class="fa fa-plus"></i> Thêm mới</button></a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-y: scroll; overflow-x: scroll; height:100%; width: 100%; display: block; overflow: auto">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Mã Khách Hàng</th>
                                <th>Họ Tên</th>
                                <th>CMND</th>
                                <th>Địa Chỉ</th>
                                <th>Giới Tính</th>
                                <th>SĐT</th>
                                <th>Quốc Tịch</th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                    @foreach (Model.Model.KHACH khach in Model.KHACH)
                                    {
                                        <tr>
                                            <td>@khach.MAKH</td>
                                            <td>@khach.HOTEN</td>
                                            <td>@khach.CMND</td>
                                            <td>@khach.DIACHI</td>
                                            <td>@khach.GIOITINH</td>
                                            <td>@khach.SDT</td>
                                            <td>@khach.QUOCTICH</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("EditTourist", "Tourist", new { maKH = khach.MAKH })" class="edit"><button type="button" class="btn" style="background-color:white"><i class='fa fa-edit' style="color:forestgreen;font-size:20px"></i></button></a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("DeleteTourist", "Tourist", new { maKH = khach.MAKH })" class="delete"><button type="button" class="btn" style="background-color:white"><i class="fa fa-trash" style="color:red;font-size:20px"></i></button></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
