@model Model.Model.CHIPHI

@{
    ViewBag.Title = "DeleteChiPhi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.MACHIPHI)
@Html.HiddenFor(model => model.MADOAN)

<div class="form-horizontal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bạn có muốn xoá Chi Phí này không?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Chi Phí: </label>
                    @Html.DisplayFor(model => model.TENLOAICHIPHI)
                </div>

                <div class="form-group">
                    <label>Mã Đoàn: </label>
                    @Html.DisplayFor(model => model.MADOAN)
                </div>

                <div class="form-group">
                    <label>Số Tiền: </label>
                    @Html.DisplayFor(model => model.SOTIEN)
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <a href="@Url.Action("TouristGroup", "TouristGroup")" class="add"><button type="button" class="btn">Huỷ</button></a>
                        <input type="submit" value="Xoá" class="btn btn-default" style="background-color: #51bcda;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
