@model Model.Model.CHITIETDOAN

@{
    ViewBag.Title = "DeleteCTTouristGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.MADOAN)
@Html.HiddenFor(model => model.MAKH)

<div class="form-horizontal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bạn có muốn xoá Chi Tiết Đoàn Du Lịch này không?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Mã Đoàn: </label>
                    @Html.DisplayFor(model => model.MADOAN)
                </div>

                <div class="form-group">
                    <label>Khách Hàng: </label>
                    @Html.DisplayFor(model => model.TENKH)
                </div>

                <div class="form-group">
                    <label>Vai Trò Khách Hàng: </label>
                    @Html.DisplayFor(model => model.VAITROKH)
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <a href="@Url.Action("TouristGroup", "TouristGroup")" class="add"><button type="button" class="btn">Huỷ</button></a>
                        <input type="submit" value="Xoá" class="btn btn-default" style="background-color: #51bcda;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}