@model Model.Model.DOANDULICH

@{
    ViewBag.Title = "DeleteTouristGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MADOAN)
    @Html.HiddenFor(model => model.NOIDUNG.MADOAN)

    <div class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bạn có muốn xoá Đoàn Du Lịch này không?</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã Đoàn: </label>
                        @Html.DisplayFor(model => model.MADOAN)
                    </div>

                    <div class="form-group">
                        <label>Tour: </label>
                        @Html.DisplayFor(model => model.TENTOUR)
                    </div>

                    <div class="form-group">
                        <label>Ngày Khởi Hành: </label>
                        @Html.DisplayFor(model => model.NGAYKHOIHANH)
                    </div>

                    <div class="form-group">
                        <label>Ngày Kết Thúc: </label>
                        @Html.DisplayFor(model => model.NGAYKETTHUC)
                    </div>

                    <div class="form-group">
                        <label>Doanh Thu: </label>
                        @Html.DisplayFor(model => model.DOANHTHU)
                    </div>

                    <div class="form-group">
                        <label>Hành Trình: </label>
                        @Html.DisplayFor(model => model.NOIDUNG.HANHTRINH)
                    </div>

                    <div class="form-group">
                        <label>Khách Sạn: </label>
                        @Html.DisplayFor(model => model.NOIDUNG.KHACHSAN)
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <a href="@Url.Action("TouristGroup", "TouristGroup")" class="add"><button type="button" class="btn">Huỷ</button></a>
                            <input type="submit" value="Xoá" class="btn btn-default" style="background-color: #51bcda;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

