@model dynamic
@{
    ViewBag.Title = "LoaiHinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel" style="width:100%">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="col-sm-4">
                    <a href="https://localhost:44317/Home/AddTour">
                        <i class="fa fa-arrow-circle-o-left" style="color:navy; font-size:30px"></i>
                    </a>
                </div>
                <a class="navbar-brand" href="javascript:;">LOẠI HÌNH DU LỊCH</a>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Quản Lý Loại Hình Du Lịch</h4>
                    </div>
                    <div class="col-sm-4">
                        <a href="@Url.Action("AddLoaiHinh", "Home")" class="add"><button type="button" class="btn btn-info-add-new" style="background-color: #51bcda;"><i class="fa fa-plus"></i> Thêm mới</button></a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-y: scroll; overflow-x: scroll; height:100%; width: 100%; display: block; overflow: auto">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Mã Loại Hình</th>
                                <th>Tên Loại Hình</th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                    @foreach (Model.Model.LOAIHINHDULICH loaihinh in Model.LOAIHINHDULICH)
                                    {
                                        <tr>
                                            <td>@loaihinh.MALOAIHINH</td>
                                            <td>@loaihinh.TENLOAIHINH</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("EditLoaiHinh", "Home", new { maLH = @loaihinh.MALOAIHINH })" class="edit"><button type="button" class="btn" style="background-color:white"><i class='fa fa-edit' style="color:forestgreen;font-size:20px"></i></button></a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("DeleteLoaiHinh", "Home", new { maLH = @loaihinh.MALOAIHINH })" class="delete"><button type="button" class="btn" style="background-color:white"><i class="fa fa-trash" style="color:red;font-size:20px"></i></button></a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>