@model dynamic
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://localhost:44317/" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="../assets/img/logo-small.png">
            </div>
        </a>
        <a href="https://localhost:44317/" class="simple-text logo-normal">
            Quản Lý Du Lịch
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="https://localhost:44317/">
                    <i class='fa fa-plane'></i>
                    <p>Tour</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="https://localhost:44317/TouristGroup/TouristGroup">
                    <i class='fa fa-group'></i>
                    <p>Đoàn Du Lịch</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="https://localhost:44317/Tourist/Tourist">
                    <i class='fa fa-street-view'></i>
                    <p>Khách Du Lịch</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="https://localhost:44317/Employee/Employee">
                    <i class='fa fa-user'></i>
                    <p>Nhân Viên</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="https://localhost:44317/Statitic/Statitic">
                    <i class="fa fa-line-chart"></i>
                    <p>Thống kê</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="javascript:;">TOUR</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                {
                    <div class="form-group form-inline">
                        <input class="form-control" type="text" name="strSearch" placeholder="Tìm kiếm Tour" value="@ViewBag.StrSearch" />
                        <button type="submit" class="btn btn-default"><i class="nc-icon nc-zoom-split"></i></button>
                    </div>
                }
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content" style="margin-top:110px">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Quản Lý Tour</h4>
                    </div>
                    <div class="col-sm-4">
                        <a href="@Url.Action("AddTour", "Home")" class="add"><button type="button" class="btn btn-info-add-new" style="background-color: #51bcda;"><i class="fa fa-plus"></i> Thêm mới</button></a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-y: scroll; overflow-x: scroll; height:100%; width: 100%; display: block; overflow: auto">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Mã Tour</th>
                                <th>Tên Tour</th>
                                <th>Đặc Điểm</th>
                                <th>Tên Loại Hình</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                    @foreach (Model.Model.TOURDULICH tour in Model.TOURDULICH)
                                    {
                                        <tr>
                                            <td>@tour.MATOUR</td>
                                            <td>@tour.TENGOI</td>
                                            <td>@tour.DACDIEM</td>
                                            <td>@tour.TENLOAITOUR</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("EditTour", "Home", new { maTour = @tour.MATOUR })" class="edit"><button type="button" class="btn" style="background-color:white"><i class='fa fa-edit' style="color:forestgreen;font-size:20px"></i></button></a>
                                            </td>
                                            <td class="text-center">
                                                @Html.ActionLink("Details", "Index", new { maTour = @tour.MATOUR })
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("DeleteTour", "Home", new { maTour = @tour.MATOUR })" class="delete"><button type="button" class="btn" style="background-color:white"><i class="fa fa-trash" style="color:red;font-size:20px"></i></button></a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <h4 class="card-title">Chi Tiết Tour</h4>
                    </div>
                    <div class="col-sm-4">
                        <a href="@Url.Action("AddCTTour", "Home")" class="add"><button type="button" class="btn btn-info-add-new" style="background-color: #51bcda;"><i class="fa fa-plus"></i> Thêm mới</button></a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-y: scroll; overflow-x: scroll; height:100%; width: 100%; display: block; overflow: auto">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Mã Tour</th>
                                <th>Tên Địa Điểm</th>
                                <th>Thứ Tự</th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                    @foreach (Model.Model.CHITIETTOUR ctTour in Model.CHITIETTOUR)
                                    {
                                        <tr>
                                            <td>@ctTour.MATOUR</td>
                                            <td>@ctTour.TENDIADIEM</td>
                                            <td>@ctTour.THUTU</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("EditCTTour", "Home", new { maTour = ctTour.MATOUR, maDD = ctTour.MADIADIEM })" class="edit"><button type="button" class="btn" style="background-color:white"><i class='fa fa-edit' style="color:forestgreen;font-size:20px"></i></button></a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("DeleteCTTour", "Home", new { maTour = ctTour.MATOUR, maDD = ctTour.MADIADIEM }) " class="delete"><button type="button" class="btn" style="background-color:white"><i class="fa fa-trash" style="color:red;font-size:20px"></i></button></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <h4 class="card-title">Bảng Giá Tour</h4>
                    </div>
                    <div class="col-sm-4">
                        <a href="@Url.Action("AddGiaTour", "Home")" class="add"><button type="button" class="btn btn-info-add-new" style="background-color: #51bcda;"><i class="fa fa-plus"></i> Thêm mới</button></a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-y: scroll; overflow-x: scroll; height:100%; width: 100%; display: block; overflow: auto">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Mã Giá</th>
                                <th>Tour</th>
                                <th>Thành Tiền</th>
                                <th>Bắt Đầu</th>
                                <th>Kết Thúc</th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                    @foreach (Model.Model.GIATOUR gia in Model.GIATOUR)
                                    {
                                        <tr>
                                            <td>@gia.MAGIA</td>
                                            <td>@gia.TENTOUR</td>
                                            <td>@gia.THANHTIEN</td>
                                            <td>@gia.TG_BATDAU</td>
                                            <td>@gia.TG_KETTHUC</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("EditGiaTour", "Home", new { maGia = gia.MAGIA })" class="edit"><button type="button" class="btn" style="background-color:white"><i class='fa fa-edit' style="color:forestgreen;font-size:20px"></i></button></a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("DeleteGiaTour", "Home", new { maGia = gia.MAGIA })" class="delete"><button type="button" class="btn" style="background-color:white"><i class="fa fa-trash" style="color:red;font-size:20px"></i></button></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
